/* ==================== Main Body ==================== */
  .App {
    background-color:#282c34;
    color: white;
  }
  body {
    text-align: center;
    background-color:#282c34;
    color: white;
    font-size:20px;
  }
/* ==================== Navbar ==================== */
  nav {
    padding:10px;
    display:flex;
    justify-content:space-between;
  }
  nav a{
    margin-left: 20px;
    font-size: 200%;
  }
  .mainlogo{
    width: 250px;
    justify-content:flex-start;
  }
  nav.shadow{
    box-shadow:0px 10px 10px black;
  }
  nav a:link{
    color:black;
  }
  nav a:visited{
    color:black
  }
  nav a:hover{
    color: #FFAD32;
  }
  nav a:active{
    color: #FFAD32;
  }
/* ==================== Colors ==================== */
  .primary{
    color:#c93535;
  }
  .secondary{
    color:#fe7a00
  }
  .danger{
    color:red;
  }
  .info{
    color:#354cc9;
  }
  .success{
    color: #11982f;
  }
  .dark{
    color:black;
  }
  /* backgrounds */
  .bg-primary{
    background-color: #c93535;
    color: white;
  }
  .bg-secondary{
    background-color: #fe7a00;
    color: white;
  }
  .bg-danger{
    background-color: #ff0000;
    color: white;
  }
  .bg-info{
    background-color: #354cc9;
    color: white;
  }
  .bg-success{
    background-color: #11982f;
    color: white;
  }
  .bg-dark{
    background-color: black;
    color: white;
  }
.bg-grey{
  background-color: rgb(24, 24, 24);
  color: white;
}

/* ==================== Components ==================== */
  .alignrow {
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  input {
    background-color:#33353a;
    color: white;
    border:solid rgb(0, 0, 0) 1px ;
    border-radius: 10px;
    padding: 10px;
    margin:20px;
    font-size:20px;
  }
  textarea {
    background-color:#33353a;
    color: white;
    border:solid rgb(31, 31, 31) 1px ;
    border-radius: 4px;
    padding: 3px;
  }

  .login{
    width:30%;
    padding: 30px;
    border-radius: 10px;
    height: 400px;
  }

  .centered{
    margin-left: auto;
    margin-right: auto;

  }
  .container{
    margin-left:64px;
    margin-right:64px;
    margin-top:32px;
  }
  .columns10{
    columns:10;
  }
  .columns8{
    columns:8;
  }
  .columns4{
    columns:4;
  }
  .columns2{
    columns:2;
  }
  .bordered{
    border:solid rgb(27, 27, 27) 5px;
  }
  .shadowed{
    box-shadow: 10px 10px 5px rgb(17, 17, 17) ;
  }

/* ==================== Button territory ==================== */
  button{
    padding: 10px;
    margin:5px;
    font-size:20px;
    border-radius: 8px;
    border:none;
    box-shadow: 3px 3px 10px black;
  }
  .btn{
    padding: 10px;
    margin:5px;
    font-size:15px;
    border-radius: 8px;
    border:none;
    box-shadow: 3px 3px 10px black;
  }

  button.bg-primary:hover{
    background-color: #fe7a00;
    color: white;
  }

  button.bg-secondary:hover{
    background-color: #FFAD32;
    color: white;
  }
  .btn.bg-secondary:hover{
    background-color: #FFAD32;
    color: rgb(0, 0, 0);
  }

  button.bg-danger:hover{
    background-color: #ff0000;
    border:solid white;
    color: white;
  }

  button.bg-info:hover{
    background-color: #4b63df;
    color: white;
  }

  button.bg-success:hover{
    background-color: #44ab5a;
    color: white;
  }
/* ==================== Cards & Decks Kingdom ==================== */

  .card-display{
    
  }
  .deck-display{
    margin: 20px;
    border: solid black;
    border-radius: 8px;
    width: 200px;
  }
  .deck-display:hover{
    border: solid white;
  }

  .card-box{
    box-shadow: 10px 10px 5px rgb(17, 17, 17) ;
    margin-bottom: 20px;
    margin-right: 2px;
    margin-left: 2px;
    border: solid rgb(27, 27, 27) 1px;
  }
  .card-box:hover{
    border: solid white 1px;
    border-radius: 4px;
  }
  .rare {
    transform: translate(-0%, -0%);
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1)
  }
  
  .rare:before {
    content: '';
    position: absolute;
    top: 0;
    left: -300px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-30deg);
    transition: 0.3s;
  } 
  
  .rare:hover:before {
    left: 250px;
    background: rgba(255, 255, 255, 0.2);
  }

/* ==================== was already there ==================== */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
