/* ==================== Main Body ==================== */
  .App {
    background-color:#282c34;
    color: white;
  }

  body {
    text-align: center;
    background-color:#282c34;
    color: white;
    font-size:28px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  intro {
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
    max-width: 2000px;
  }
/* ==================== Navbar ==================== */
nav {
  padding:10px;
  display:flex;
  justify-content:space-between;
}
nav a{
  margin-left: 20px;
  font-size: 200%;
}
.mainlogo{
  width: 250px;
  justify-content:flex-start;
}
nav.shadow{
  box-shadow:0px 10px 10px black;
}
nav a:link{
  color:black;
}
nav a:visited{
  color:black
}
nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #FFAD32;
  transition: width 0.3s; /* Ajoutez une transition pour une apparition en douceur */
  transform-origin: 50% 50%; /* L'origine de la transformation pour l'animation */
}
nav a:hover::after {
  width: 100%;
}
nav a:active{
  color: #FFAD32;
}

a {
  color: #FFAD32;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

/* ==================== Colors ==================== */
  .primary{
    color:#c93535;
  }
  .secondary{
    color:#fe7a00
  }
  .danger{
    color:red;
  }
  .info{
    color:#354cc9;
  }
  .success{
    color: #11982f;
  }
  .dark{
    color:black;
  }
  /* backgrounds */
  .bg-primary{
    background-color: #c93535;
    color: white;
  }
  .bg-secondary{
    background-color: #fe7a00;
    color: white;
  }
  .bg-danger{
    background-color: #ff0000;
    color: white;
  }
  .bg-info{
    background-color: #354cc9;
    color: white;
  }
  .bg-success{
    background-color: #11982f;
    color: white;
  }
  .bg-dark{
    background-color: black;
    color: white;
  }
.bg-grey{
  background-color: rgb(24, 24, 24);
  color: white;
}

/* ==================== Components ==================== */
  .alignrow {
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  input {
    background-color:#33353a;
    color: white;
    border:solid rgb(0, 0, 0) 1px ;
    border-radius: 10px;
    padding: 10px;
    margin:20px;
    font-size:20px;
  }
  textarea {
    background-color:#33353a;
    color: white;
    border:solid rgb(31, 31, 31) 1px ;
    border-radius: 4px;
    padding: 3px;
  }

  select{
    border: none;
    font-size:20px;
  }

  .login{
    width:30%;
    padding: 30px;
    border-radius: 10px;
    height: 400px;
  }

  .centered{
    margin-left: auto;
    margin-right: auto;

  }
  .container{
    margin-left:64px;
    margin-right:64px;
    margin-top:32px;
  }
  .columns10{
    columns:10;
  }
  .columns8{
    columns:8;
  }
  .columns4{
    columns:4;
  }
  .columns2{
    columns:2;
  }
  .bordered{
    border:solid rgb(27, 27, 27) 5px;
  }
  .shadowed{
    box-shadow: 10px 10px 5px rgb(17, 17, 17) ;
  }
  .gradient-box{
    background: rgb(221,3,3);
    background: linear-gradient(90deg, rgba(221,3,3,1) 0%, rgba(255,109,0,1) 24%, rgba(179,0,0,1) 100%);
    padding:10px;
  }
  .align-top{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
  }
  .align-end{
    vertical-align: top;
  }
  .w200p{
    width:200px;
  }
/* ==================== Button territory ==================== */
  button{
    padding: 10px;
    margin:5px;
    font-size:20px;
    border-radius: 8px;
    border:none;
    box-shadow: 3px 3px 10px black;
  }
  .btn{
    padding: 10px;
    margin:5px;
    font-size:15px;
    border-radius: 8px;
    border:none;
    box-shadow: 3px 3px 10px black;
  }

  button.bg-primary:hover{
    background-color: #fe7a00;
    color: white;
  }

  button.bg-secondary:hover{
    background-color: #FFAD32;
    color: white;
  }
  .btn.bg-secondary:hover{
    background-color: #FFAD32;
    color: rgb(0, 0, 0);
  }

  button.bg-danger:hover{
    background-color: #ff0000;
    border:solid white;
    color: white;
  }

  button.bg-info:hover{
    background-color: #4b63df;
    color: white;
  }

  button.bg-success:hover{
    background-color: #44ab5a;
    color: white;
  }

/* ==================== Home List ==================== */ 
  .tabs-vertical {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    border-right: 2px solid #FFA500;
  }
  
  .tabs-vertical li {
    margin: 0;
    text-align: center;
  }
  
  .tabs-vertical a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .tabs-vertical a:hover {
    background-color: #555;
  }
  
  .tabs-vertical:hover .dropbtn {
    background-color: #555;
  }


/* ==================== Cards & Decks Kingdom ==================== */

  .card-display{
    display: flex;
    flex-wrap: wrap;
  }
  .deck-display{
    margin: 20px;
    border: solid black;
    border-radius: 8px;
    width: 190px;
  }
  .deck-display:hover{
    border: solid white;
  }

  .card-box{
    width:180px;
    box-shadow: 10px 10px 5px rgb(17, 17, 17) ;
    margin-bottom: 20px;
    margin-right: 2px;
    margin-left: 2px;
    border: solid rgb(27, 27, 27) 1px;
  }
  .card-box:hover{
    border: solid white 1px;
    border-radius: 4px;
  }
  .card-box-deck{
    width:120px;
    box-shadow: 10px 10px 5px rgb(17, 17, 17) ;
    margin-bottom: 20px;
    margin-right: 2px;
    margin-left: 2px;
    border: solid rgb(27, 27, 27) 1px;
  }
  .card-box-deck:hover{
    border: solid white 1px;
    border-radius: 4px;
  }
  .rare {
    transform: translate(-0%, -0%);
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1)
  }
  
  .rare:before {
    content: '';
    position: absolute;
    top: 0;
    left: -300px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-30deg);
    transition: 0.3s;
  } 
  
  .rare:hover:before {
    left: 250px;
    background: rgba(255, 255, 255, 0.2);
  }


  /* ==================== Catalog ==================== */ 
  .container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: initial;
  }
  
  .bg-primary {
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
  }
  
  option {
    background-color: #fff;
    color: #333;
  }

/* ==================== Enlarge Images ==================== */ 
.card-box img {
  width: 180px;  
  object-fit: cover;  
  display: block;
  margin: 0 auto;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 60rem;
  max-height: 60rem;
  min-height: 60rem; 
  object-fit: cover;
}

.modal-content-container {
  position: relative;
  display: inline-block;
}


.close {
  position: absolute;
  top: 5%;
  right: 3%;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* ==================== was already there ==================== */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
